<div class='link'>
  <p class='link-title'>Title: <%= link.title %></p>
  <p class='link-url'>URL: <%= link_to link.url %></p>
  <p class='read-status'>Read?: <%= link.read %></p>
  <button>Mark as Read</button><button>Edit</button>
</div>