<%= link_to "Log Out", session_path(current_user), method: :delete%>

<form class='new-link'>
  URL: <input type='text', name='link[url]'></input>
  Title: <input type='text', name='link[title]'></input>
  <input type="submit" value="Add Link", id="submit-link">
</form>

<div id='links'>
  <% current_user.links.order('created_at DESC').each do |link| %>
    <%= render partial: 'link', locals: { link: link } %>
  <% end %>
</div>