<%= link_to "Log Out", session_path(current_user), method: :delete%>

<form class='new-link'>
  URL: <input type='text', name='link[url]'></input>
  Title: <input type='text', name='link[title]'></input>
  <input type="submit" value="Add Link", id="submit-link">
</form>

<div id='links'>
  <% current_user.links.order('created_at DESC').each do |link| %>
    <div class='link'>
      <p class='link-title'>Title: <%= link.title %></p>
      <p class='link-url'>URL: <%= link_to link.url %></p>
      <p class='read-status'>Read?: <%= link.read %></p>
      <button>Mark as Read</button><button>Edit</button>
    </div>
  <% end %>
</div>